:root{
    --form-color: white;
    --blue-color: #00a8f3;
    --font-family: 'Calibri', Arial, 'Trebuchet MS', sans-serif, Helvetica, sans-serif;
}

.container {
    display: flex;
}

/* Set up for left side image and citing */
.leftPanel {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 40vw;
    height: 100vh;
    background-image: url("images/signUpLeft.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: auto;   
}

/* Display citation when cursor over background photo */
.leftPanel:hover h4 {
  visibility: visible;
  opacity: 1;
}

H4 {
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s, visibility 1s;
}

.photoRights {
  position: absolute;
  left: 1%;
  bottom: 1%;
  font-size: 1.9vh;
  color: white;
  width: 15vw;
  font-family: var(--font-family);
}

/* Set up for form background*/
.formPanel {
    position: absolute;
    right: 0%;
    top: 0%;
    background-color: var(--form-color);
    width: 60vw;
    height: 100vh;
}

.formBanner {
    position: absolute;
    left: 0%;
    top: 0%;
    height: 10vh;
    width: 100%;
    overflow: auto;
    margin: 0px;
}

#companyLogo {
    position: fixed;
    left: 41%;
    top: 0%;
    width: 17vw;
    height: 14vh;
}

.logIn {
  text-decoration: none;
  color: var(--blue-color);
}

.formFooter {
  text-decoration: none;
  position: absolute;
  left: 0%;
  bottom: 0%;
  height: 10vh;
  width: 100%;
  overflow: auto;
  margin: 0px;
}

h3 {
  position: absolute;
  right: 1%;
  top: 1%;
  text-align: left;
  font-family: var(--font-family);
  color: black;
  font-size: 14px;
}

/* Github link and text formatting */
#githubLogo {
  position: absolute;
  right: 1pc;
  bottom: 1pc;
  height: 4vh;
  background-blend-mode: lighten;
}

h5 {
  position: absolute;
  right: 3pc;
  text-decoration: none;
  font-family: var(--font-family);
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s, visibility 1s;
}

.formFooter:hover h5 {
  visibility: visible;
  opacity: 1;
}

/* Set up for main form section */
.formMain {
    position: absolute;
    left: 22%;
    top: 17%;
    height: 72vh;
    width: 35vw;
    overflow: auto;
    margin: 0px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 15px;
}

fieldset {
    position: absolute;
    left: 10%;
    top: 9%;
    bottom: 15%;
    width: 22vw;
    height: 60vh;
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 13px;
    border: none;
    background-color: white;
    box-sizing: border-box;
}

legend{
    text-align: center;
    font-size: 23px;
    font-weight: 700;
}

h6{
  text-align: center;
  margin: 2px 0 -7px;
  font-size: 14px;
  font-weight: 500;
}

button {
    position: absolute;
    bottom: 2%;
    left: 5%;
    align-items: center;
    width: 25vw;
    height: 12%;
    background-color: var(--blue-color);
    color: white;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
}

.nameData, .contactData, .passwordData {
    border: none;
    display: flex;
    width: 360px;
    padding: 0;
    margin-top: 30px;
    box-sizing: border-box;
}

/* Formatting for selection of form sections */
  input {
    width: 90%;
    appearance: none;
    border: none;
    font-size: 17px;
    border-bottom: 2px solid rgba(0,0,0, 0.12);
    transition: all 0.2s;
    cursor: text;
    font-size: 18px;
  }

/* Set underline to blue */
  input:focus {
    appearance: none;
    outline: none;
    border-bottom: 2px solid var(--blue-color);
  }

  label {
    font-size: 12px;
    position: relative;
    transition: all .3s ease-in;
  }

/* move label and change colour on input select */
  .field {
    display: flex;
    flex-flow: column-reverse;
  }

  .field:focus-within label {
    color: var(--blue-color);
    position: relative;
    top: 0px;
    font-size: 14px;
  }
  
/* Set label position and input format whilst placeholder is present*/
  input:placeholder-shown + label {
    cursor: text;
    max-width: 66.66%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transform-origin: left bottom;
    transform: translate(0, 1rem) scale(1.5);
  }

/* Hide the placeholder when the input is not focused. */
  ::-webkit-input-placeholder {
    opacity: 0;
    transition: inherit;
  }

/* Show the placeholder when the input is focused. */
  input:focus::-webkit-input-placeholder {
    opacity: 1;
  }

  ::placeholder {
    font-size: 14px;
  }

/* Lock label in place when placeholder replaced by text input */
  input:not(:placeholder-shown) + label,
  input:focus + label {
    transform: translate(0, 0) scale(1);
    cursor: pointer;
  }

/* Set formatting for scroll bar when overflow occurs */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: var(--blue-color);
  border-radius: 15px; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}